*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}


header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.viewHighScores{
  overflow: hidden;
  float: left;
}

.timeLeft{
  overflow: hidden;
  float: right;
}

button {
  background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 2em;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
}

.mainCard{
  margin: 0 auto;
  width: 500px;
  height: 750px;
}

.startMenu{
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 250px;
  visibility: visible;

}

.hidden{
  position: absolute;
  visibility: hidden;
}

.visible{
  position: absolute;
  visibility: visible;
}


.quiz{
  position: absolute;
  visibility: hidden;
}

.correctIncorrect{
  border-top: 20px, solid, gray;
  visibility: hidden;
}

.allDone{
  position: absolute;
  visibility: hidden;
}

.highScores{
  position: absolute;
  visibility: hidden;
}

